<div class="whoisyourdaddyandwhatdoeshedo">
  <% @stores.each do |store| %>
    <%= store.long_name %>
    <%= store.city %>
    <%= store.distance %>
    <%= store.phone_number %>
    <%= store.store_type %>
  <% end %>
</div>
