<h1><%= @presenter.total_stores %> Total Stores</h1>

<br>
<div class="whoisyourdaddyandwhatdoeshedo">
  <ul>

  <% @presenter.stores.each do |store| %>
    <li><h2><%= store.long_name %></h2></li>
    <li><%= store.city %></li>
    <li><%= store.distance %></li>
    <li><%= store.phone_number %></li>
    <li><%= store.store_type %></li>
    <br><br>
  <% end %>
</ul>
</div>
